<?xml version="1.0" encoding="UTF-8"?>

<?define var.AppVersion = "0.10.0" ?>
<?define var.AppProductCode="34bc4da6-6ffe-4b8c-a42f-b5676ae0dcaf" ?>

<?define var.AppName = "Starfall Afterlife" ?>
<?define var.AppManufacturer = "Eduard Shein (MenY)" ?>
<?define var.AppDir = "StarfallAfterlife" ?>
<?define var.AppExe = "StarfallAfterlifeLauncher.exe" ?>

<!--***********************   Don't touch!  **********************-->
<?define var.AppUpgradeCode="94a71ad1-4bf2-4e19-9810-80a7ab78250a" ?>
<!--**************************************************************-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Package ProductCode="$(var.AppProductCode)"
			 Name="$(var.AppName)"
			 Language="1033"
			 Version="$(var.AppVersion)"
			 Manufacturer="$(var.AppManufacturer)"
			 UpgradeCode="$(var.AppUpgradeCode)"
			 InstallerVersion="500"
			 Scope="perUser"
			 Compressed="yes">

		<Media Id="1" Cabinet="media.cab" EmbedCab="yes"/>
		<MajorUpgrade Schedule="afterInstallInitialize" AllowDowngrades="yes" />

		<Property Id="ALLUSERS" Secure="yes" Value="2"/>
		<Property Id="MSIINSTALLPERUSER" Secure="yes" Value="1" />

		<StandardDirectory  Id="ProgramFiles64Folder">
			<Directory Id="APPLICATIONFOLDER">
				<Directory Id="INSTALLFOLDER" Name="$(var.AppDir)">
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.AppName)"/>
			</Directory>
		</StandardDirectory>
		
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5a618118-3659-4d6a-b17a-c9786a019648">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="$(var.AppName)"
						  Description="$(var.AppName)"
						  Target="[INSTALLFOLDER]$(var.AppExe)"
						  WorkingDirectory="INSTALLFOLDER"/>
				<RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\$(var.AppDir)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>

		<Feature Id="SFAFeature" Title="$(var.AppDir)" Level="1" ConfigurableDirectory="INSTALLFOLDER">
			<Files Include="..\StarfallAfterlifeLauncher\bin\$(Configuration)\net7.0-windows\win-x64\**" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		
		<Icon Id="icon.ico" SourceFile="icon_128.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
		
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>

		<ui:WixUI Id="WixUI_Minimal"/>
		
		<UI>
			<Publish Dialog="ExitDialog"
					 Control="Finish"
					 Event="DoAction"
					 Value="LaunchApplication"
					 Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed"/>

		</UI>
		
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.AppName)"/>
		<SetProperty Id="WixShellExecTarget" Value="[INSTALLFOLDER]$(var.AppExe)" After="CostFinalize" />

		<CustomAction Id="LaunchApplication"
					  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
					  DllEntry="WixShellExec"
					  Impersonate="yes" />
		
		<InstallExecuteSequence>
			<Custom Action="LaunchApplication" OnExit="success" Condition="UILevel &lt; 4" />
		</InstallExecuteSequence>
	</Package>
</Wix>
